{% extends 'base.html'%}
{% import 'macro.html' as macro%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to News highlight </title>
    {% endif %}
  </head>
  <body>
    <!-- content block -->
  {% block content %}

     <h3> News HighLight</h3>

     <h3> Technology</h3>
     <!-- technology  section  -->
      <ul>
          {{ macro.displaySourceList(technology)}}
     </ul>
    <!-- entertainment  section  -->
     <h3> Entertainment News</h3>
      <ul>
       {{ macro.displaySourceList(entertainment)}}
     </ul>
      <!-- health  section  -->
     <h3> health News</h3>
      <ul>
          {{ macro.displaySourceList(health)}}
     </ul>
     <!-- ssience  section  -->
     <h3> science News</h3>
      <ul>
        {{ macro.displaySourceList(science)}}
     </ul>
     <!-- sports  section  -->
     <h3> sport News</h3>
      <ul>
            {{ macro.displaySourceList(sport)}}
      </ul>
      {% endblock%}
  </body>
</html>
