<div class="navbar navbar-inverse" role="navigation">
     <div class="container-fluid">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/"> News HighLight </a>
         </div>
         <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <!-- <li><a href="/">Technology</a>{{ macro.displaySourceList(technology)}}</li>
                 <li><a href="/">Entertainment</a>{{ macro.displaySourceList(entertainment)}}</li>
                 <li><a href="/">Sports</a>{{ macro.displaySourceList(sport)}}</li>
                 <li><a href="/">Science</a>{{ macro.displaySourceList(science)}}</li>
                 <li><a href="/">Health</a>{{ macro.displaySourceList(health)}}</li> -->
         </div>
      </div>

     </div>
